 @media screen and (max-width: 1157px ){

  body {
    
       background-color:  hsl(176, 38%, 91%) ;
       
 }
#pag2 {
  
  text-align: center;
  background-color: darkgrey;
  height: 300px;
 
 
}
  #pag2 h1 {
    padding: 30px;
    margin-top: 100px;
   color: rgb(0, 0, 0);
  font-family: Manrope;
  font-size:40pt;
}

#containerPrincipal {
  position: absolute;
  width: 100%;
  margin-left: 0%;
  background-color: blue;
}
#containerSecundario {
    position: absolute;
 
   margin-top: 5%;
  
    border-radius: 20px;
    width: 90%;
    height: 600px;
    background-color: white;
    margin-bottom: 0%;
}
 #logo {
   margin-top: 5%;
  position: absolute;
  width: 35%;
  margin-left: 30%;
  border-radius: 200px;
 
 }
 #view {
   width: 50%;
     margin-top: 180px;
    margin-left: 5%;
    color: hsl(225, 20%, 60%) ;
    font-size: 90%;
    font-family: Manrope;
  
 }
 #texto3 h1{
   
    margin-top: 180px;
    width: 80%;
    color: hsl(225, 20%, 60%) ;
    font-size: 90%;
    font-family: Manrope;
 }
 #formatado {
    position: absolute;
     color: hsl(220, 3%, 17%) ;
    font-size: 200%;
    margin-left: 28%;
    width: 80%;
    
    font-family: Manrope;
 }
  #texto4 h1{
    
    color: hsl(220, 3%, 17%) ;
    font-size: 300%;
   width: 80%;
    margin-top: 8px;
    margin-left: 55%;
  
 }
 #formatada {
  width: 80%;
   position: absolute;
    color: hsl(225, 20%, 60%) ;
    font-family: Manrope;
    margin-left: -122px;
    margin-top: 12px;
 }
#texto5 {
  font-size: 22pt;
  width: 80%;
} 



 #myRange {
  position: absolute;
  -webkit-appearance: none;
  width: 76.9%;
  height: 12px;
 background: hsl(174, 86%, 45%);
  outline: none;
  opacity: 0.7;
  margin-left: 20px;
  

  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 80px;
  border-radius: 20px;
}
 
#myRange2 {
    position: absolute;
  -webkit-appearance: none;
  width: 76.9%;
  height: 12px;
 background: hsl(174, 86%, 45%);
  outline: none;
  opacity: 0.7;
margin-left: 20px;

  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 80px;
  border-radius: 20px;
}
.slider {
  
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
 background: hsl(174, 86%, 45%);
  outline: none;
  opacity: 0.7;


  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10px;
  border-radius: 20px;
}

.slider:hover {
  opacity: 1;
  background: hsl(174, 86%, 45%);
}

.slider::-webkit-slider-thumb {
    
  -webkit-appearance: none;
  appearance: none;
  border-radius: 35px;
  width: 45px;
  height: 45px;
   background: hsl(174, 86%, 45%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
    
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}



.slider:hover {
  opacity: 1;
  background: hsl(174, 86%, 45%);
}

.slider::-webkit-slider-thumb {
    
  -webkit-appearance: none;
  appearance: none;
  border-radius: 35px;
  width: 45px;
  height: 45px;
   background: hsl(174, 86%, 45%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
    
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.switch {
position: absolute;
 margin-top: 100px;
  
  visibility: hidden;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  
}
.switch--shadow + label {
  padding: 2px;
  margin-left: 38%;
  margin-top: 10%;
  width: 60px;
  height: 25px;
  background-color: #dddddd;
  border-radius: 75px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 32px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #8ce196;
}
.switch--shadow:checked + label:after {
  transform: translateX(36px);
}


#textoB{

 
margin-top: 150px;
 color: hsl(225, 20%, 60%) ;

 font-family: Manrope;
}

#fm1 h4{
  width: 100%;
    margin-left: 0%;
     font-size: 70%;
    position: absolute;

}
#fm2 h4{
     font-size: 70%;
    position: absolute;
    margin-left: 60%;
    
}
#fm3 h4{
  width: 15%;
    position: absolute;
    height: 18px;
    
   
   border-radius: 10px;
    background: rgb(235, 228, 228);
    text-align: center;
    font-size: 60%;
    position: absolute;
    margin-left: 60%;
    color: darkorange;
    margin-top: 20px;
}

#lista {
  width: 100%;
  margin-top: 10px;
 margin-left: -15px;
 color: hsl(225, 20%, 60%) ;
font-size: 70%;
 font-family: Manrope;  
}
#btn {
  font-size: 70%;
  width: 50%;
    position: absolute;
    font-family: Manrope; 
    background: hsl(227, 35%, 25%);
    color: rgb(243, 243, 243);
    text-align: center;
    margin-left:25%;
    margin-top: 20px;
    border-radius: 30px;
    height: 40px;
}

}

 @media screen and (min-width: 1158px ){
  body {
     background-color:  hsl(176, 38%, 91%) ;
 }
#pag2 {
  
  text-align: center;
  background-color: darkgrey;
  height: 300px;
 
 
}
  #pag2 h1 {
    padding: 30px;
    margin-top: 100px;
   color: rgb(0, 0, 0);
  font-family: Manrope;
  font-size:40pt;
}

 

#containerSecundario {
    position: absolute;
    margin-top: 50px;
   
   margin-left: 15%;
    border-radius: 20px;
    width: 40%;
    height: 800px;
    background-color: white;
}
#logo {
  position: absolute;
  margin-left: 150px;
}
 #texto3 p{
     margin-top: 40px;
    margin-left: 30%;
    color: hsl(225, 20%, 60%) ;
    font-size: 22pt;
    font-family: Manrope;
  
 }
 #view {
   width: 400px;
     margin-top: 170px;
    margin-left:10%;
    color: hsl(225, 20%, 60%) ;
    font-size: 25pt;
    font-family: Manrope;
  
 }
 #texto3 h1{
   
    margin-top: 180px;
   
    color: hsl(225, 20%, 60%) ;
    font-size: 25pt;
    font-family: Manrope;
 }
 #formatado {
    position: absolute;
     color: hsl(220, 3%, 17%) ;
    font-size: 35pt;
    margin-left: 30%;
    margin-top: -20px;
    font-family: Manrope;
 }
  #texto4 h1{
    
    color: hsl(220, 3%, 17%) ;
    font-size: 50pt;
    width: 400px;
    margin-top: 8px;
    margin-left: 55%;
  
 }
 #formatada {
  
   position: absolute;
    color: hsl(225, 20%, 60%) ;
    font-family: Manrope;
    margin-left: -122px;
    margin-top: 25px;
 }
#texto5 {
  font-size: 22pt;
} 


 #myRange {
  position: absolute;
  -webkit-appearance: none;
  width: 70%;
  margin-left: 10%;
  height: 12px;
 background: hsl(174, 86%, 45%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 80px;
  border-radius: 20px;
}
#myRange2 {
  position: absolute;
  -webkit-appearance: none;
  width: 70%;
  height: 12px;
 background: hsl(174, 86%, 45%);
  outline: none;
  opacity: 0.7;
margin-left: 10%;

  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 80px;
  border-radius: 20px;
}
 
.slider {
  
  -webkit-appearance: none;
  width: 90%;
  height: 12px;
 background: hsl(174, 86%, 45%);
  outline: none;
  opacity: 0.7;


  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10px;
  border-radius: 20px;
}

.slider:hover {
  opacity: 1;
  background: hsl(174, 86%, 45%);
}

.slider::-webkit-slider-thumb {
    
  -webkit-appearance: none;
  appearance: none;
  border-radius: 35px;
  width: 45px;
  height: 45px;
   background: hsl(174, 86%, 45%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
    
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}



.slider:hover {
  opacity: 1;
  background: hsl(174, 86%, 45%);
}

.slider::-webkit-slider-thumb {
    
  -webkit-appearance: none;
  appearance: none;
  border-radius: 35px;
  width: 45px;
  height: 45px;
   background: hsl(174, 86%, 45%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
    
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}



.switch {
position: absolute;
 margin-top: 100px;
  
  visibility: hidden;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.switch--shadow + label {
  padding: 2px;
  margin-left: 170px;
  width: 70px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 32px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #8ce196;
}
.switch--shadow:checked + label:after {
  transform: translateX(36px);
}


#textoB{
 margin-left: 12%;
margin-top: 170px;
 color: hsl(225, 20%, 60%) ;

 font-family: Manrope;
}

#fm1 h4{
    margin-left: 10px;
     font-size: 12pt;
    position: absolute;

}
#fm2 h4{
     font-size: 12pt;
    position: absolute;
    margin-left: 260px;
    
}
#fm3 h4{
   position: absolute;
    height: 20px;
    width: 150px;
   
   border-radius: 10px;
    background: rgb(235, 228, 228);
    text-align: center;
    font-size: 10pt;
    position: absolute;
    
    margin-left: 250px;
    color: darkorange;
    margin-top: 25px;
}

#lista {
  margin-top: 60px;
 margin-left: 100px;
 color: hsl(225, 20%, 60%) ;
font-size: 15pt;
 font-family: Manrope;  
}
#btn {
    position: absolute;
    font-family: Manrope; 
    background: hsl(227, 35%, 25%);
    color: rgb(243, 243, 243);
    text-align: center;
    margin-left: 30%;
    margin-top: 50px;
    border-radius: 30px;
    height: 50px;
}

}